* {
	font-family: 'Quicksand', sans-serif;
}

/* Side Bar Content */
.side-bar {
	background-color: #78909C;
	color: #FFF;
	min-height: 960px;
	padding: 0px 20px;
}

.app-name {
	margin-bottom: 10px;
}

.btn-new-room {
	margin-bottom: 10px;
}

.room-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.room-name {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.8;
}

/* Main Section */
.main-section {
	background-color: #CFD8DC;
	min-height: 960px;
	margin-top: -10px;
}

.main-section-title {
	text-align: center;
	color: #78909C;
}

.message-box-bottom {
	clear: right;
}

input[type="text"] {
	position: fixed;
	bottom: 0;
	width: 70%;
	height: 4%;
}

/* Media Queries */
