<div class="container-fluid">
	<div class="row">
		<section class="side-bar col-md-3">
			<h1 class="app-name">Bloc Chat</h1>
			<h3>Welcome {{ currentUser }}!</h3>
			<div ng-controller='ModalCtrl as modal'>
			 	<button type="button" class="btn btn-default btn-block btn-new-room" ng-click="modal.open()">New Room</button>
			</div>
			<ul class="room-list" ng-repeat="room in home.rooms">
				<li class="room-name" ng-click="activeRoom(room)">{{ room.$value }}</li>
			</ul>
		</section>
		<main class="main-section col-md-9">
			<h1 class="main-section-title">{{ currentRoom.$value }}</h1>
			<p class="user-messages" ng-repeat="message in messages track by $index">{{ message.content }}</p>
			<div class="message-box-bottom" ng-controller="NewMsgCtrl as newMsg">
				<form class="new-message" ng-submit="send()">
					<input class="new-message-input" ng-model="newMessage.text"/>
					<button class="btn btn-default send-button">Send</button>
				</form>
			</div>
		</main>
	</div>
</div>
